body {

    background: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.jumbotron.vertical-center {
    
  background: #000;
  color: #fff;
  margin-bottom: 0; 
}
.jumbotron.vertical-center p{
    font-size: 14px;
    
}
.jumbotron.vertical-center h1{
    font-size: 40px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  width: 100%;
 
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;

}

#loginpage, #signuppage,#grouppage{
        padding: 0px;
    

}
.imagediv{
    text-align: center;
    top: -20px;
}
.loginlogo {
    width: 80%;
}
.vertical-align {
  margin-top: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;  
  
  justify-content: center;
  flex-direction: row;
}

.logininput, .signupinput {
    width: 80%;
    padding: 8px 5px;
    margin-bottom: 0px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: #eee 1px solid;
    color: #000;
}
#group {
    color: #757575
}
.logininput:focus {
    border: #888 1px solid;
    border-radius: 5px;
    outline: none;
}

.taskpool {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 40px;
}
td, th{
    padding-top: 5px;
}
.taskpool td, .taskpool th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.pending {
    background-color: #fdfdfd;
    font-size: 16px;
    
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
}
.pending ul {
overflow-y: auto;}
.pending ul , .sample, .add-to-sprint{
    padding-left: 0px;
    list-style-type: none;
    
}
.pending ul ul li {
    padding-top:10px;

    border-bottom: 1px solid #e6e6ed;

}
.taskpool th {
    background-color: #223c4c;
    color: #fff;

}
.taskpool tr:nth-child(even) {background-color: #fff}

.grouplist{
    list-style-type: none;
    background-color: #fff;
    padding-left:0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
.grouplist li, .prolist
{

    border-bottom: 1px solid #e6e6ed;
    font-size:16px;
}
.prolist{
    background-color: #223c4c;
    color:#fff;
}

.grouplist li a, .prolist
{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    
}
.grouplist li a:hover{
    color: #223c4c;
    text-decoration: none;
    
}

}
.navbar{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 16px;
}
.noti_circle
{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #337ab7;
    border: 2px solid #337ab7;
    color: #fff;
    text-align: center;
    font: 16px;
    display: inline-block;
}
.navbar-default{
    border-bottom: 2px solid rgba(0,0,0,0.15)
}
.navbar-default .navbar-nav a
 {
    border-bottom: 4px solid #fff;
    -webkit-transition: border-bottom 0.6s, color 0.6s; /* Safari */
    transition: border-bottom 0.6s, color 0.6s;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background-color: #fff;
    border-bottom: 4px solid #337ab7;
    color: #337ab7;


}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #fff;
    border-bottom:  4px solid #337ab7;
    color: #337ab7;
}
.navbar .glyphicon{
    font-size:18px;
    top:4px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #fff;
    border-bottom:  4px solid #337ab7;
    color: #337ab7;
    
}
.prodate{
    padding-right: 10px;
}

#login_brand{
    margin-right:12px;

}

.btn {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  -webkit-box-shadow: 1px 1px 2px #adaaad;
  -moz-box-shadow: 1px 1px 2px #adaaad;
  box-shadow: 1px 1px 2px #adaaad;
  font-family: Roboto,Arial;

  font-size: 14px;

  text-decoration: none;
}

.btn:hover {

  text-decoration: none;
}

#editbutton, #backbutton, #deletebutton, .monthbuton{
    background-color: #fff;
    border:none;
    box-shadow:none;
}
#editbutton:hover, #backbutton:hover, .monthbutton{
    color:#337ab7;
    background-color: #fff;
}
.proj-details, .chartcard, .sprint-details, .whitecard{
    background:#fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 10px;
}
.proj-details th, .proj-details td, .sprint-details {
    vertical-align: top;
}
.proj-details th, .sprint-details 
{
    padding-right:10px;
}
#deletebutton{
    color: red;
}
#deletebutton:hover{
    color: #ff6969;
    background-color: #fff;
}
#search-tag-card{
    margin-top:20px;
}
.chartcard{
    margin-bottom: 100px;
}
.btn-tab{
    background-color: #fff;
    color: #000;
    border: none;
}
.btn-tab:focus, .btn-tab:active{
    border: none;
    outline: none;
    box-radius: 2px;
}

.loginbtn {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
    box-shadow: none;
    border-radius: 5px;
}
.loginbtn:focus, .loginbtn:active{
    border: none;
    outline: 0;
}
.btn-fb{
    background-color:#4267b2;
    color: #fff;
}
.btn-fb:hover, .btn-fb:active, .btn-fb:focus, .btn-fb.active, .btn-fb:active:focus{
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
    outline: none;
}
.nodata{
    color:#ada2a2;
    left: 40%;
    top: 80%;
    text-align: center;

}
.mon, .tue, .wed, .thu, .fri, .sat, .sun, .noday{
    background-color:#fff;
    -webkit-box-shadow: 1px 1px 2px 0 #B0B0B0;
    box-shadow: 1px 1px 2px 0 #B0B0B0;
    transition: 0.3s;
}
.container .month{
    margin: 0 auto;
}
.project-nav>li>a{
  border: 1px solid rgb(212, 208, 208);
  border-bottom: #dddddd;
  background-color: #fff;
  
}
.project-nav>li>a:hover{
  border: 1px solid rgb(212, 208, 208);
  border-bottom: #dddddd;
  background-color: #337ab7;
  color: #fff;
  
}
.project-nav>li.active>a, 
.project-nav>li.active>a:focus, 
.project-nav>li.active>a:hover
{
    background-color: #f2f2f2;
}

.project-content
{
    padding-top:10px;
}
.add-to-sprint li{
    padding-bottom: 8px;
    font-size: 16px;
}

.filerow {
    margin-top:20px;
    margin-bottom:20px;
}
.filecard a{
    background: #fff;

    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:5px;
    padding-right:5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-bottom: 1px solid #e6e6ed;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.searchcard {

    background: #fff;
    /*margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*text-align: center;
    padding-right:5px;*/
    padding-top:10px;
    padding-bottom:5px;
    padding-left:5px;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
    border-bottom: 1px solid #e6e6ed;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

}
.searchcard a{
    font-size:16px;
}

.task-details th, .task-details td {
    
    padding-top:10px;
    font-size: 16px;
}
.task-details td {
    padding-left: 10px;
}
.taskdetails, .tag{
    padding-left:20px;
}
 .commentcontent{
 margin-bottom: 0px;}
 
.commentinfo{
    margin-bottom: 0px;
    font-size: 12px;
    padding-bottom: 4px;
    
    
}
.commentcard{
    padding: 5px;
    border-bottom: #eee 1px solid; 

}
.commentdiv{
     background: #fff;
     border: #eee 1px solid; 
     border-radius: 4px;
     padding-top: 4px;

}
.commentdate{
    color: #5d5c5c;
}
.commentname{
    color:#000;
}
.commentbox{
    
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    margin-bottom: 0px;
    box-sizing: border-box;

}
.tags {
    margin-bottom: 8px; 
    background-color: #3c3d3e;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    color: #fff; 
    display: inline-block;
}
.tagbox {
    margin-top: 5px;
    padding: 3px 3px;

}
.searchtag{
     margin-bottom: 0px; 
     padding-top: 0px;
     padding-bottom: 0px;
}
.notidiv {
     background: #fff;
     border: #eee 1px solid; 
     border-radius: 6px;
     padding-top: 4px;
     padding: 0px;
}
.notidiv h4{
    padding-left: 15px;
}

.noticard {
    padding:15px;
    border-bottom: #eee 1px solid;
}
.notidivhead {
    padding: 0px;
}
.notiheader {
    margin: 0px;
    font-size: 12px;
}
.notibody{
    margin: 0px;
}
.notiextra{
    padding-left: 5px;
}
.notitime {
    color: #888;
}