{% extends "Tracker/base.html" %}

{% block title %} Add Project {% endblock %}

{% block content %}
		<h1>New Project</h1> 
		<form action="{% url 'add_project' group_id member.id %}" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td  hidden>{{form.pgroup}}</td>
				</tr>
				<tr>
					<th>Project Name : </th>
					<td>{{form.pname}}</td>
				</tr>
				<tr>
					<th>Description: </th>
					<td> {{ form.pdesc }}</td>
				</tr>
				<tr>
					<th>Deadline : </th>
					<td> {{ form.pdeadline }}</td>
				</tr>
			</table>
			<input type="submit" value="Submit" />
		</form>
{% endblock %}