<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script src="http://code.highcharts.com/highcharts-3d.js"></script>
   <title> Detailed Analysis </title>
</head>
<body>

    <div id="StatePie" style="width:100%; height:300px;"></div>
    <div id="Burndown" style="width:100%; height:300px;"></div>
    <script>
$(function () {
    Highcharts.setOptions({
     colors: ['#218559', '#DD1E2F', '#06A2CB']
    },
    {lang: {noData: "No Data Available!"}});
    Highcharts.chart('StatePie', {
        chart: {
            
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
                }
        },
        title: {
            text: 'Task States'
        },
        tooltip: {
            pointFormat: '{series.name} <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    
                }
            }
        },
        series: [{
            type: 'pie',
            name: ' ',
            colorByPoint: true,
            data: [{
                name: 'Complete Tasks',
                y: {{ complete_tasks }}
            },  
               {
                name: 'Blocked Tasks',
                y: {{ blocked_tasks }}
            }, {
                name: 'Open Tasks',
                y: {{ open_tasks }},
                sliced: true,
                selected: true
                }
                ]
        }]
    });
});
/*Burndown Chart*/
{% if errorchart == 0%}
$(function () {
  $('#Burndown').highcharts({
    title: {
      text: 'Burndown Chart',
      x: -20 //center
    },
    colors: ['blue', 'red'],
    plotOptions: {
      line: {
        lineWidth: 3
      },
      tooltip: {
        hideDelay: 200
      }
    },
    /*subtitle: {
      text: 'Sprint 1',
      x: -20
    },*/
    xAxis: {
      categories: {{categories|safe}}
    },
    yAxis: {
      title: {
        text: 'Task Points'
      },
      plotLines: [{
        value: 0,
        width: 1
      }]
    },
    tooltip: {
      valueSuffix: ' TP',
      crosshairs: true,
      shared: true
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
    },
    series: [{
      name: 'Ideal Burn',
      color: 'rgba(255,0,0,0.25)',
      lineWidth: 2,
      data: {{idealdata}}
    }, {
      name: 'Actual Burn',
      color: 'rgba(0,120,200,0.75)',
      marker: {
        radius: 6
      },
      data: {{realdata}}
    }]
  });
});
{% endif %}
</script>
</body>
</html>