<h1>Project Details </h1>
<form action="{% url 'edit_project' project.id %}" method="post">
    {% csrf_token %}
	<table>
		<tr>
			<td hidden> {{form.pgroup}}</td>
		</tr>
		<tr>
			<th>Project Name:</th>
			<td>{{form.pname}}</td>
		</tr>
		<tr>
			<th>Project Description :</th>
			<td>  {{form.pdesc}}</td>
		</tr>
		<tr>
	    	<th>Tasks:</th>
    		{% for task in project.task_set.all %}
    			<td><a href= "{% url 'edit_task' task.id %}">{{ task.tname }}</a></td>
    		{% endfor %}</tr>
		<tr>
			<th>Sprints:</th>
		 	{% for sprint in project.sprint_set.all %}
    			<td><a href= "{% url 'edit_sprint' sprint.id %}">{{ sprint.sname }}</a></td>
    		{% endfor %}
    	</tr>
	</table>
	<br>
	<input type="submit" value="Submit" />
</form>

<form><button formaction="/Tracker/add_task">Add Task</button> <button formaction="/Tracker/add_sprint">Add Sprint</button> <button formaction="{% url 'chart' project.id %}">Analysis</button><button formaction="#">Delete Project</button></form>

