{% extends "Tracker/base.html" %}
{% block nav-project %} active {% endblock %}
{% block title %} Sprint Screen{% endblock %}
{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<style>
.status_color {
{% if st == "Green" %}
color: #02b875;
{% elif st == "Red" %}
color: #ec555b;
{% elif st == "Yellow" %}
color: #ffea00;
{% endif %}
}
</style>
<div class= "container project-content">
<!--Task Table-->
<div class = "row">
<div id="confirm" class="modal fade" role = "dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Confirm Delete</h4>
</div>
<div class="modal-body">
Are you sure you want to delete this sprint?
</div>
<div class="modal-footer">
<button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
<button type="button" data-dismiss="modal" class="btn">Cancel</button>
</div>
</div>
</div>
</div> 
<div class="col-md-8"> 
<div class = "row">
<div class = "col">
<h2 style=" margin-bottom: 15px;">Sprint Tasks</h2>
{% if sprint.task_set.all %}
<table class="taskpool">
<tr>
<th>Name</th>
<th>State</th>
<th>Assignee</th>
<th>Task Points</th>
</tr>
{% for task in sprint.task_set.all %}
<tr>
<td><a href= "{% url 'edit_task' task.id  %}">{{ task.tname }}</a></td>
<td>{{ task.get_state_display }}</td>
<td>{{ task.assign}}</td>
<td>{{ task.tp }}</td>
</tr>
{% endfor %}	
</table>
{% else %}
No Tasks Added
{% endif %}   
</div> 
{% if errorchart == 0 %}
<div class = "col">
<div id="Burndown" class="chartcard" style="height:400px;"></div>
{% endif %}
</div>
</div>
</div>
<!--Sprint Details-->
<!--Edittable-->
<div class = "col-md-3 col-md-offset-1 ">
<div id="edittable" class = "sprint-details sprintdetails" style="display:none">
<form class = "deleteform pull-right" action = "{% url 'delete_sprint' sprint.id %}">
<button class="btn btn-default"  name="deletesprint" id="deletebutton" type="submit">
<i class=" glyphicon glyphicon-trash"></i>
</button>
</form>
<h3><span class="pull-left">
<button class="btn btn-default" id="backbutton" onclick="openForm('not_edittable')" type="submit">
<i class=" glyphicon glyphicon-circle-arrow-left"></i>
</button></span>Sprint Details</h3>
{% if form.errors %}
<div class="text-danger">Error: End Date cannot be before Start Date</div>
{% endif %}
<form action="{% url 'edit_sprint' sprint.id  %}" method="post">
{% csrf_token %}
<table>
<tr>
<td hidden> {{form.project}}</td>
</tr>
<tr>
<th>Name </th>
<td>{{form.sname}}</td>
</tr>
<tr>
<th>Starts</th>
<td>  {{form.start_date}}</td>
</tr>
<tr>
{% if form.errors %}
<div class="text-danger">
<th>Ends</th>
</div>
{% else %}
<th>Ends</th>
{% endif %}
<td> {{form.end_date}}</td>
</tr>
<tr>
<th>Status &nbsp;</th>
<td> <span class = "status_color"> <i class ="glyphicon glyphicon-record "> </i> {{st}}</span></td>
</tr>
<th></th> <td><button class= "btn btn-success" type="submit" value="Submit">Submit</button></td>
</table>
</form>
</div> <!--Edittable-->
<!--Not Edittable-->
<div id="not_edittable" class = "sprint-details sprintdetails">
<h3><span class="pull-right"><button class="btn btn-default" id="editbutton" onclick="openForm('edittable')" type="submit">
<i class="glyphicon glyphicon-pencil"></i>
</button></span>Sprint Details</h3> 
<table>
<tr>
<th>Name </th>
<td> {{sprint.sname}}</td>
</tr>
<tr>
<th>Starts </th>
<td>  {{sprint.start_date|date:"j M Y"}}</td>
</tr>
<tr>
<tr>
<th>Ends </th>
<td>  {{sprint.end_date|date:"j M Y"}}</td>
</tr>
<tr>
<th>Status &nbsp;</th>
<td> <span class = "status_color"> <i class = "glyphicon glyphicon-record"> </i> {{st}}</span></td>
</tr>
</table>
</div> <!--Sprint Details-->
<div class = "whitecarda">
<h3>Add/Remove Tasks</h3>
<ul class="add-to-sprint">
{% for task in sprint.project.task_set.all %}
<form>
<li><a href= "{% url 'edit_task' task.id  %}">{{ task.tname }}</a> &nbsp 
{% if task in sprint.task_set.all %}
<button formaction="{% url 'tsr' task.id  sprint.id %}" class="btn btn-xs btn-danger pull-right sprintbtn"><span style="font-size:12px;" class="glyphicon glyphicon-minus-sign"></span>&nbsp;</button>
{% else %}
<button formaction="{% url 'ts' task.id  sprint.id %}" class="btn btn-xs btn-success pull-right sprintbtn"> <span style="font-size:12px;"class="glyphicon glyphicon-plus-sign"></span>&nbsp;</button>
{% endif %}
</li>
</form>
{% endfor %}
</ul>
</div>
</div>
<!--1st Row-->
<!--<br><a href="{% url 'edit_project' sprint.project.id  %}" >Back</a>-->
{% if st != 'Sprint has Ended' %}
{% endif %}
</div> <!-- Row--->
</div> <!--Container-->
<script>
{% if errorchart == 0 %}
$(function () {
$('#Burndown').highcharts({
title: {
text: 'Burndown Chart',
x: -20 //center
},
colors: ['blue', 'red'],
plotOptions: {
line: {
lineWidth: 3
},
tooltip: {
hideDelay: 200
}
},
/*subtitle: {
text: 'Sprint 1',
x: -20
},*/
xAxis: {
categories: {{categories|safe}}
},
yAxis: {
title: {
text: 'Task Points'
},
plotLines: [{
value: 0,
width: 1
}]
},
tooltip: {
valueSuffix: ' TP',
crosshairs: true,
shared: true
},
legend: {
layout: 'horizontal',
align: 'center',
verticalAlign: 'bottom',
borderWidth: 0
},
credits: {
enabled: false
},
series: [{
name: 'Ideal Burn',
color: '#3eb9ce',
lineWidth: 2,
data: {{idealdata}}
}, {
name: 'Actual Burn',
color: '#ec555b',
marker: {
radius: 6
},
data: {{realdata}}
}]
});
});
{% endif %}
</script>
<script>
function openForm(divName) {
var i;
var x = document.getElementsByClassName("sprintdetails");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none"; 
}
document.getElementById(divName).style.display = "block"; 
}
function confirmDelete(){
var result = window.confirm("Are you sure you want to delete this sprint?");
window.alert("out here");
if (result == true) {
window.alert("out here");
window.location.href = "{% url 'delete_sprint' sprint.id %}";
}
else 
window.alert("now here");
}
</script>
<script>
$('button[name="deletesprint"]').on('click', function(e) {
var $form = $(this).closest('form');
e.preventDefault();
$('#confirm').modal({
backdrop: 'static',
keyboard: false
})
.one('click', '#delete', function(e) {
$form.trigger('submit');
});
});
</script>
</body>
{% endblock %}
