{% extends "Tracker/base.html" %}

{% block title %} Group View {% endblock %}

{% block content %}
		<h1>Dashboard</h1>
		<h2>Group Name : {{group.gname}} </h2>
		<h3>Group Members:</h3>	
		<list>
			{% for member in group.member_set.all %}
				<ul>{{ member.username }}</ul>
			{% endfor %}
		</list>
	    
		<h3>List of Projects for this group:</h3>	
		<list>
			{% for project in group.project_set.all %}
				<ul><a href= "{% url 'edit_project' project.id %}">{{ project.pname }}</a></ul>
			{% endfor %}
		</list>
	    <a href="{% url 'add_project' %}">Add New Project</a>
{% endblock content %}
