<h1>Group Details</h1>
<form action="{% url 'edit_group' group.id %}" method="post">
	{% csrf_token %}
	<table>
		<tr>
			<th>Name :</th>
			<td>{{form.gname}}</td>
		</tr>
		<tr>
			<th>Projects :</th>
		</tr>
		{% for project in group.project_set.all %}
			<tr>
				<td><a href= "{% url 'edit_project' project.id %}">{{ project.pname }}</a></td>
			</tr>
		{% endfor %}
	</table>
    
    <input type="submit" value="Submit" />
	
	<a href="/Tracker/add_project/"><button>Add New Project</button></a>
	<a href=# name=leave_group><button>Leave Group</button></a>
</form>
