{% extends "Tracker/base.html" %}

{% block title %} Project Screen{% endblock %}

{% block content %}
		<h1>Project View</h1>
		<form action="{% url 'edit_project' project.id member.id %}" method="post">
		    {% csrf_token %}
			<table>
				<tr>
					<td hidden> {{form.pgroup}}</td>
				</tr>
				<tr>
					<th>Project Name:</th>
					<td>{{form.pname}}</td>
				</tr>
				<tr>
					<th>Project Description :</th>
					<td>  {{form.pdesc}}</td>
				</tr>
                <tr>
					<th>Project Deadline :</th>
					<td>  {{form.pdeadline}}</td>
				</tr>
				<tr>
					<th>Project Status :</th>
					<td>  {{ps}}</td>
				</tr>
			</table>
			<input type="submit" value="Submit" />
		</form>
		
		<a href="{% url 'delete_project' project.id member.id %}" >Delete Project</a>

		<h2>Project's Task Pool:</h2>
		<table class = "taskpool">
		<tr>
			<th>Name</th>
			<th>Due Date</th>
			<th>Status</th>
			<th>State</th>
			<th>Assignee</th>
			<th>Task Points</th>
		</tr>
	    	{% for task in project.task_set.all|dictsort:"created" %}
    			<tr>
	    			<td><a href= "{% url 'edit_task' task.id member.id %}">{{ task.tname }}</a></td>
	    			<td> {{task.due_date|date:"j M 'y"}}</td> 
					<td>  {{ task.status }}</td>
					<td> {{ task.get_state_display }}</td>
					<td> {{task.assign }}</td>
					<td> {{task.tp}}</td>
				</tr>
    		{% endfor %}
		</table>
		<a href="{% url 'add_task' project.id member.id %}" >Add Task</a>
		
		<h2>Project Sprints:</h2>
		<ul>
			{% for sprint in project.sprint_set.all %}
    			<li><a href= "{% url 'edit_sprint' sprint.id member.id %}">{{ sprint.sname }}</a></li>
    		{% endfor %}
    	</ul>
		<a href= "{% url 'add_sprint' project.id member.id %}" >Add Sprint</a> 
		
		<form method="POST" action="/Tracker/search_tag/">
			{% csrf_token %}
			<input type="text" name="textfield">
			<button type="submit">Search Tasks By Tags</button>
		</form>

		<form>
			<button formaction="{% url 'chart' project.id %}">Analysis</button>
			<button formaction="{% url 'calendar' project.id member.id %}">Calendar View</button>
		</form>
{% endblock %}
