{% extends "Tracker/base.html" %}
{% block nav-project %} active {% endblock %}
{% block title %}Upload File{% endblock %}

{% block content %}
<ul class="nav nav-tabs project-nav">
			<li>
        <a  href="{% url 'edit_project' project.id  %}">{{project.pname}} Overview</a>
			</li>
			<li><a href="{% url 'calendar' project.id  %}">Calendar</a>
			</li>
			<li><a href="{% url 'chart' project.id  %}">Analytics</a>
			</li>
            <li  class="active"><a href="{% url 'files' project.id  %}">Files</a>
			</li>
		</ul>
        <div class="container project-content">
     <div class="row">   
    
    <div class = "col-md-8">
<form action="{% url 'file_upload' project.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
   		<tr>
   			<td hidden> {{form.fproject}}</td>
   		</tr>

   		<tr>
   			
   			<td> {{form.file}}</td>
   		</tr> 	
    </table>
    <button class="btn btn-primary">Upload</button>
</form>
    </div>
    </div>
    </div>
{% endblock %}