<h2>Group Details</h2>
<h4>Group Id : {{ group.id }}</h4>
<h4>Group Name : {{ group.gname }}</h4>
<h4>Projects :</h4>

<ul>
	{% for project in group.project_set.all %}
	<li><a href= "{% url 'project_detail' project.id %}">{{ project.pname }}</a></li>
	{% endfor %}
</ul>

<a href="/Tracker/add_project/"><button>Add New Project</button></a><br /><br />
<a href=# name=save_group_details><button>Save</button></a>
<a href=# name=leave_group><button>Leave Group</button></a>
<a href=# name=exit><button>Back</button></a>
