{% extends "Tracker/base.html" %}
{% block nav-home %} class="active"{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}
		
<div class="container">

        <div class = "row">
        <div class="col-md-9">

        <div class = "row">

        <div class= "col">
        <form>
			<button formaction="{% url 'add_project' %}" class="btn pull-right btn-primary"> Add Project&nbsp; <span class="glyphicon glyphicon-plus"></span></button>
	    </form>
            <h3>{{group.name}} Projects</h3>	
            
            <ul class = "grouplist">
                <li class = "prolist">Name <span class = "prodate pull-right">Deadline</li>
			{% for project in group.project_set.all %}
                
				<li><a href= "{% url 'edit_project' project.id%}">{{ project.pname }} <span class = "prodate pull-right"> {{project.pdeadline|date:"j M 'y"}} </span> </a></li>
			{% endfor %}
            </ul>
        </div>
        
  
        </div>
        
        <!--ALL TASKS-->
        <div class="row"> 
        {% if all_tasks %}
        <div class = "col">
	    <h3 class="center">Your Tasks</h3>
        <table class="taskpool">
        <tr>
			<th>Name</th>
            <th>Project</th>
			<th>Due Date</th>
			<th>State</th>
		</tr>
	    	{% for t in all_tasks %}
    			<tr>
	    			<td><a href= "{% url 'edit_task' t.id %}">{{ t.tname }}</a></td>
                    <td>{{t.tproject}}</td>
	    			<td> {{t.due_date|date:"j M 'y"}}</td> 
					<td> {{ t.get_state_display  }}</td>
				</tr>			
			{% endfor %}
		</table>
       </div>
        {% endif %}
	<!--<a href="/Tracker/">Logout</a>-->
            </div>
    </div>
    <!--PENDING TASKS--> 

        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right">
                <div class="well pending ">
                    <ul class="nav ">
                        <li class="nav-header"><strong>Pending Tasks</strong></li>
                        <li> You have <strong>{{t_count}}</strong> Pending Task{% if t_count > 1 %}s{% endif %}</li>
                        {% if task %}
                        <ul>
                          {% for t in task %}
                            
                            <li><a href= "{% url 'edit_task' t.id%}">{{ t.tname }}</a><span class="pull-right">{{t.tproject}}</span></li>
                            
                          {% endfor %}
                        </ul>

                        {% else %}
                        <p></p>
                        {% endif %}
                </div>
                <div class="well pending ">

                    <ul class="nav ">
                    <li class="nav-header"><strong>Alerts&nbsp;</strong><div class = "noti_circle"><strong>{{ noti }}</strong></div></li>
                    
                   {% if nd_count > 0 %} 
                    <li> <strong>{{nd_count}} Task{% if nd_count > 1 %}s{% endif %} approaching deadline</strong> </li>
                        <ul>
                          {% for t in near_deadline %}
                            
                            <li><a href= "{% url 'edit_task' t.id%}">{{ t.tname }}</a><span class="pull-right">{{t.tproject}}</span></li>
                            
                          {% endfor %}
                        </ul>
                       
                    {% endif %}
                    <!--{% if nt_count > 0 %}
                    <li> <strong>{{nt_count}} New Task{% if nt_count > 1 %}s{% endif %} Assigned</strong> </li>
                        <ul>
                          {% for t in new_task %}
                            
                            <li><a href= "{% url 'edit_task' t.id%}">{{ t.tname }}</a><span class="pull-right">{{t.tproject}}</span></li>
                            
                          {% endfor %}
                        </ul>
                     {% endif %}-->
                     
                     {% if od_count > 0 %} 
                     
                    <li> <strong>{{od_count}} Task{% if nd_count > 1 %}s{% endif %} Overdue</strong> </li>
                        <ul>
                          {% for t in over_due %}
                            
                            <li><a href= "{% url 'edit_task' t.id%}">{{ t.tname }}</a><span class="pull-right">{{t.tproject}}</span></li>
                            
                          {% endfor %}
                        </ul>
                        
                    {% endif %}
                    </ul>
                </div>
                              <div class= "well pending ">
			
		<ul  class = "nav ">
            <li> <strong>Member Rank</strong> </li>
            <ul>
			<!--{% for user in group.user_set.all %}
				<li>{{user.first_name}} {{user.last_name}}</li>
			{% endfor %}
            -->
            {% for k,v in user_tp.items %}
            <li>{{k}} --> {{v}}</li>
			{% endfor %}
            
            </ul>
		</ul>
	   </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        
       </div>
    </div>
{% endblock content %}
