{% load static %}

<!DOCTYPE html>
{% block content %}
<html>
	<head>
	    <title>ProTrack</title>
		<link rel="stylesheet" type="text/css" href="{% static 'Tracker/css/bootstrap.min.css' %}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'Tracker/style.css' %}" />
        <script src="{% static 'Tracker/js/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'Tracker/js/bootstrap.min.js' %}"></script>

	</head>
	<body>

	<script>
		function fpassoverlay(){
				alert("Please Contact Admin");
			}
	</script>
    <div class = "container login-middle">
    <div class = "row">
    <div class = "col-xs-6">
    <h1><span id="login_brand" class="pull-right">ProTrack</span></h1>
    </div>
    <div class = " login-right col-xs-6">
    
	<h1>Login</h1>
	<form action="{% url 'login_next' %}" method="post">
		{% csrf_token %}
		<table>

			<tr>
				<td><input placeholder = "Username" type=text name=name></td>
			</tr>

			<tr>
				<td><input type=password name=pwd placeholder="Password"></td>
			</tr>
		</table>
		<input class = "btn btn-success"type=submit value=Login />
	</form>
	<a href="{% url 'signup' %}" >Register</a>
	<a href="" onclick="fpassoverlay()" >Forgot Password</a>
	<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
	</div>
    </div>
    </div>
    </body>
{% endblock %}