{% load static %}

<!DOCTYPE html>
{% block content %}
<html>
	<head>
	    <title>ProTrack</title>
        <link rel="icon" href="{% static 'Tracker/favicon.ico' %}" /> 

        <script src="{% static 'Tracker/js/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'Tracker/js/bootstrap.min.js' %}"></script>
        		<link rel="stylesheet" type="text/css" href="{% static 'Tracker/css/bootstrap.min.css' %}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'Tracker/style.css' %}" />

	</head>
	<body id="loginpage">

	<script>
		function fpassoverlay(){
				alert("Please Contact Admin");
			}
	</script>

    <div class="jumbotron vertical-center">
    <div class = "container">
      <div class="row vertical-align">
    <div class="col-xs-12 col-md-6 imagediv">
    <img class="loginlogo" src = "{% static 'Tracker/logo.png' %}">
    </div>
        <div class="col-xs-10 col-md-5  col-xs-offset-2 col-md-offset-1 formdiv">
        <h1>Login</h1>
	<form action="{% url 'login_next' %}" method="post">
		{% csrf_token %}
            <div class = "loginform">

                <div class="loginfield">
				<input placeholder = "Username" type=text name=name class="logininput">
                </div>

                <div class="loginfield">
				<input type=password name=pwd placeholder="Password" class="logininput">
                </div>
            
            </div>

		<button class = "loginbtn btn btn-success" type="submit">Login</button>
	</form>
    <form>
	<button class = "loginbtn btn" formaction = "{% url 'signup' %}" style="background-color: #337ab7">Register</button>
    <button class = "loginbtn btn btn-fb" formaction = "{% url 'social:begin' 'facebook' %}">Login with Facebook</button>
     <button class = "loginbtn btn btn-google" formaction = "{% url 'social:begin' 'google-oauth2' %}">Login with Google+</button>
 
	

    </form>
    <p><a class="fpbtn" data-toggle="modal" data-target="#forgotpass">Forgot Password?</a></p>
    </div>


    
    </div>
    </div>
    </div>
    
        <!-- Modal -->
<div id="forgotpass" class="modal fade" role="dialog"  tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <p>Please Contact Admin</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
</div>

    
    </body>
{% endblock %}