<h2>Project Details with Id = {{ project.id }}:</h2>
Project Name : {{ project.pname }}<br />

<ul>
    {% for task in project.task_set.all %}
    <li><a href= "{% url 'task_detail' task.id %}">{{ task.tname }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for sprint in project.sprint_set.all %}
    <li><a href= "{% url 'sprint_detail' sprint.id %}">{{ sprint.sname }}</a></li>
    {% endfor %}
</ul>


<a href="/Tracker/task/add_task/"><button>Add_Task</button></a>
<a href="/Tracker/sprint/add_sprint/"><button>Add_Sprint</button></a>

