<h2>Project Details :</h2>
<h4>Project Id = {{ project.id }}:</h4>
<h4>Project Name : {{ project.pname }}</h4>
<h4>Tasks</h4>
<ul>
    {% for task in project.task_set.all %}
    <li><a href= "{% url 'task_detail' task.id %}">{{ task.tname }}</a></li>
    {% endfor %}
</ul>

<h4>Sprints</h4>
<ul>
    {% for sprint in project.sprint_set.all %}
    <li><a href= "{% url 'sprint_detail' sprint.id %}">{{ sprint.sname }}</a></li>
    {% endfor %}
</ul>

<a href="/Tracker/add_task/"><button>Add_Task</button></a>
<a href="/Tracker/add_sprint/"><button>Add_Sprint</button></a>
<br /><br /><a href=#><button>Delete Project</button></a>

