{% extends "Tracker/base.html" %}

{% block title %}{{project.pname}}{% endblock %}

{% block content %}
<div class ="container">
<div class = "row">
{% if task_entries %}
    <h3>Tasks</h3>
    <ul>
    {% for entry in task_entries%}
        <li><a href= "{% url 'edit_task' entry.id%}">{{ entry.tname }}</a> {{entry.tproject}}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if project_entries %}
    <h3>Projects</h3>
    <ul>
    {% for entry in project_entries%}
        <li><a href= "{% url 'edit_project' entry.id%}">{{ entry.pname }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if sprint_entries %}
    <h3>Sprints</h3>
    <ul>
    {% for entry in sprint_entries%}
        <li><a href= "{% url 'edit_sprint' entry.id%}">{{ entry.sname }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{%if task_entries|length <= 0 %}
    {% if project_entries|length <= 0%}
        {% if sprint_entries|length <= 0 %}
        <h3> No Results Found </h3>
        {% endif %}
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}