 <form>
  Task name:<br>
  <input type="text" name="tname"><br>
  Description:<br>
  <input type="text" name="desc"><br>
  Due date:<br>
  <input type="text" name="due_date"><br>
  Risk:<br>
  <input type="text" name="risk"><br>
  Status:<br>
  <input type="text" name="status"><br>
  Priority:<br>
  <input type="text" name="priority"><br>
  State:<br>
  <input type="text" name="state"><br>
  Assign:<br>
  <input type="text" name="assign"><br>
  Remainder:<br>
  <input type="text" name="remainder"><br>
  Heading:<br>
  <input type="text" name="heading"><br>
  Dep. task:<br>
  <input type="text" name="dep_task"><br>
  Current Sprint:<br>
  <input type="text" name="current sprint"><br>
  Task Points:<br>
  <input type="text" name="tp"><br>
  <input type="submit" value="Submit">

</form> 

