<html>
		<head>
			<title>RTI Application Form</title>
			<meta charset="utf-8">
			<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
			<script src="../bootstrap/js/bootstrap.min.js"></script>
		</head>

		<body>
	
<h1>Comments associated with {{ task.tname }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for c in task.comment_set.all %}
    <label>{{ c.comment }}</label>
    <br/>
{% endfor %}

<form><button formaction="/Tracker/add_comment/">Add Comment</button>
</form>
</body>
</html>
